<body class="lease">
<<<<<<< HEAD
<div id="skrollr-body">

	<div id="lease-0" class="royalSlider heroSlider rsMinW slider00">
	  <div class="rsContent rsNoDrag">
	  	 <div class="bContainer">
		  	 <div class="titleBlock infoBlockLeftBlack rsABlock txtCent"> 
		    	<h4>BE HERE NOW</h4>
		    	<div class="hexBlock" id="topHexBlock">
					<%= image_tag "hexagon.png", :class => "topHex" , :data=>{:start=>"transform:translateX(0%)", :end=>"transform:translateX(0%)"}%>
					<%= image_tag "hexagon.png", :class => "topHex" %>
				</div>
				<div class="hexBlock" id="bottomHexBlock">
					<%= image_tag "hexagon.png", :class => "bottomHex"  %>
					<%= image_tag "hexagon.png", :class => "bottomHex"  %>
					<%= image_tag "hexagon.png", :class => "bottomHex"  %>
				</div>
		   	 </div>
	   	 </div>


	  	<%= image_tag "full-width/1920/lease-0.jpg", :class=>"rsImg", :data=>{:start=>"transform:translateY(0%)", :end=>"transform:translateY(-120%)"} %>
	   </div>
	</div>


	<div id="lease-1" class="royalSlider heroSlider rsMinW slider01">
	  <div class="rsContent">
	  	<%= image_tag "full-width/1920/lease-1-01.jpg", :class=>"rsImg" %>
	  </div>
	  <div class="rsContent">
	  	<%= image_tag "full-width/1920/lease-1-02.jpg", :class=>"rsImg" %>
	  </div>
	  <div class="rsContent">
	  	<%= image_tag "full-width/1920/lease-1-03.jpg", :class=>"rsImg" %>
	  </div>
	  <!-- <div class="rsContent">
	  	<%= image_tag "full-width/lease-1-04.jpg", :class=>"rsImg" %>
	  </div>
	  <div class="rsContent">
	  	<%= image_tag "full-width/lease-1-05.jpg", :class=>"rsImg" %>
	  </div>
	  <div class="rsContent">
	  	<%= image_tag "full-width/lease-1-06.jpg", :class=>"rsImg" %>
	  </div>
	  <div class="rsContent">
	  	<%= image_tag "full-width/lease-1-07.jpg", :class=>"rsImg" %>
	  </div>
	  <div class="rsContent">
	  	<%= image_tag "full-width/lease-1-08.jpg", :class=>"rsImg" %>
	  </div>
	  <div class="rsContent">
	  	<%= image_tag "full-width/lease-1-09.jpg", :class=>"rsImg" %>
	  </div>
	  <div class="rsContent">
	  	<%= image_tag "full-width/lease-1-10.jpg", :class=>"rsImg" %>
	  </div> -->	  
	</div>

	<div id="lease-2" class="royalSlider heroSlider rsMinW slider02" data-start="transform:translateY(0%)" data-end="transform:translateY(-120%)">
	  <div class="rsContent">
	  	<%= image_tag "full-width/1920/lease-2-01.jpg", :class=>"rsImg mySelector" %>
	    <div class="infoBlock infoBlockLeftBlack rsABlock">
	      <h4>The Future is Now</h4>
	      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure</p>
	    </div>
	  </div>
	  <div class="rsContent">
	  	<%= image_tag "full-width/1920/lease-2-02.jpg", :class=>"rsImg" %>
	  </div>
	  <div class="rsContent">
	  	<%= image_tag "full-width/1920/lease-2-03.jpg", :class=>"rsImg " %>
	  </div>
	</div>

	<div id="lease-3" class="royalSlider heroSlider rsMinW slider03" data-start="transform:translateY(0%)" data-end="transform:translateY(-100%)">
	  <div class="rsContent">
	  	<%= image_tag "full-width/lease-3-01.jpg", :class=>"rsImg" %>
	  </div>
	  <div class="rsContent">
	  	<%= image_tag "full-width/lease-3-02.jpg", :class=>"rsImg" %>
	  </div>
	  <div class="rsContent">
	  	<%= image_tag "full-width/lease-3-03.jpg", :class=>"rsImg" %>
	  </div>
	</div>

	<div id="lease-4" class="royalSlider heroSlider rsMinW slider04" data-start="transform:translateY(0%)" data-end="transform:translateY(-140%)">
	  <div class="rsContent rsNoDrag">
	  	<%= image_tag "full-width/lease-4.jpg", :class=>"rsImg mySelector" %>
	  </div>
	</div>

	<div id="lease-5" class="royalSlider heroSlider rsMinW slider05" data-start="transform:translateY(-20%)" data-end="transform:translateY(-90%)">
	  <div class="rsContent">
	  	<%= image_tag "full-width/lease-5-01.jpg", :class=>"rsImg" %>
	  </div>
	  <div class="rsContent">
	  	<%= image_tag "full-width/lease-5-02.jpg", :class=>"rsImg" %>
	  </div>
	  <div class="rsContent">
	  	<%= image_tag "full-width/lease-5-03.jpg", :class=>"rsImg" %>
	  </div>
	  <div class="rsContent">
	  	<%= image_tag "full-width/lease-5-04.jpg", :class=>"rsImg mySelector1" %>
	  </div>
	</div>

<!-- lease-6 are hexagon pngs 

=======
	<div id="skrollr-body">
		<div id="lease-0" class="royalSlider heroSlider rsMinW slider00">
			<div class="rsContent rsNoDrag">
				<div class="titleBlock infoBlockLeftBlack rsABlock" data-start="transform:translateY(0px)" data-end="transform:translateY(1000px)">
					<h4>BE HERE NOW</h4>
					<div class="hexBlock" id="topHexBlock" >
						<%= image_tag "hexagon.png", :class => "topHex" %>
						<%= image_tag "hexagon.png", :class => "topHex" %>
					</div>
					<div class="hexBlock" id="bottomHexBlock">
						<%= image_tag "hexagon.png", :class => "bottomHex" %>
						<%= image_tag "hexagon.png", :class => "bottomHex" %>
						<%= image_tag "hexagon.png", :class => "bottomHex" %>
					</div>
				</div>
				<%= image_tag "full-width/1920/lease-0.jpg", :class=>"rsImg", :data=>{:start=>"transform:translateY(0px)", :end=>"transform:translateY(-1000px)"} %>
			</div>
		</div>
		<div id="lease-1" class="royalSlider heroSlider rsMinW slider01" data-start="transform:translateY(0px)" data-end="transform:translateY(-220px)">
			<div class="rsContent">
				<%= image_tag "full-width/1920/lease-1-01.jpg", :class=>"rsImg" %>
				<div data-bottom-top="opacity:0" data-center-top="opacity:1" class="infoBlock center rsABlock">
					<h4>Be Here <span class="underline">Now</span></h4>
					<span class="address">101 Hudson Street</span><br>
					<div class="blurb">
						<h5>Classic art deco with a high-tech infrastructure.</h5>
					</div>
					<div class="blurb_detail">
						<p>A bibendum ac ornare malesuada condimentum nascetur a volutpat curabitur nibh congue potenti diam fringilla netus fringilla odio a cum adipiscing penatibus taciti.Potenti dis nisl magna odio scelerisque parturient purus diam ut a pulvinar sit leo viverra ad aenean id a vestibulum ad.</p>
						<%= image_tag "graph-1.png" %>
						<span class="plansspec">Plan/Spec</span>
					</div>
				</div>
			</div>
			<div class="rsContent">
				<%= image_tag "full-width/1920/lease-1-02.jpg", :class=>"rsImg" %>
				<div data-bottom-top="opacity:0" data-center-top="opacity:1" class="infoBlock center rsABlock">
					<h4>Be Here <span class="underline">Now</span></h4>
					<span class="address">101 Hudson Street</span><br>
					<div class="blurb">
						<h5>Classic art deco with a high-tech infrastructure.</h5>
					</div>
					<div class="blurb_detail">
						<p>A bibendum ac ornare malesuada condimentum nascetur a volutpat curabitur nibh congue potenti diam fringilla netus fringilla odio a cum adipiscing penatibus taciti.Potenti dis nisl magna odio scelerisque parturient purus diam ut a pulvinar sit leo viverra ad aenean id a vestibulum ad.</p>
						<%= image_tag "graph-2.png" %>
						<img src="">
						<span class="plansspec">Plan/Spec</span>
					</div>
				</div>
			</div>
			<div class="rsContent">
				<%= image_tag "full-width/1920/lease-1-03.jpg", :class=>"rsImg" %>
				<div data-bottom-top="opacity:0" data-center-top="opacity:1" class="infoBlock center rsABlock">
					<h4>Be Here <span class="underline">Now</span></h4>
					<span class="address">101 Hudson Street</span><br>
					<div class="blurb">
						<h5>Classic art deco with a high-tech infrastructure.</h5>
					</div>
					<div class="blurb_detail">
						<p>A bibendum ac ornare malesuada condimentum nascetur a volutpat curabitur nibh congue potenti diam fringilla netus fringilla odio a cum adipiscing penatibus taciti.Potenti dis nisl magna odio scelerisque parturient purus diam ut a pulvinar sit leo viverra ad aenean id a vestibulum ad.</p>
						<%= image_tag "graph-3.png" %>
						<span class="plansspec">Plan/Spec</span>
					</div>
				</div>
			</div>
			<div class="rsContent">
				<%= image_tag "full-width/lease-1-04.jpg", :class=>"rsImg" %>
				<div data-bottom-top="opacity:0" data-center-top="opacity:1" class="infoBlock center rsABlock">
					<h4>Be Here <span class="underline">Now</span></h4>
					<span class="address">101 Hudson Street</span><br>
					<div class="blurb">
						<h5>Classic art deco with a high-tech infrastructure.</h5>
					</div>
					<div class="blurb_detail">
						<p>A bibendum ac ornare malesuada condimentum nascetur a volutpat curabitur nibh congue potenti diam fringilla netus fringilla odio a cum adipiscing penatibus taciti.Potenti dis nisl magna odio scelerisque parturient purus diam ut a pulvinar sit leo viverra ad aenean id a vestibulum ad.</p>
						<%= image_tag "graph-4.png" %>
						<span class="plansspec">Plan/Spec</span>
					</div>
				</div>
			</div>
			<div class="rsContent">
				<%= image_tag "full-width/lease-1-05.jpg", :class=>"rsImg" %>
				<div data-bottom-top="opacity:0" data-center-top="opacity:1" class="infoBlock center rsABlock">
					<h4>Be Here <span class="underline">Now</span></h4>
					<span class="address">101 Hudson Street</span><br>
					<div class="blurb">
						<h5>Classic art deco with a high-tech infrastructure.</h5>
					</div>
					<div class="blurb_detail">
						<p>A bibendum ac ornare malesuada condimentum nascetur a volutpat curabitur nibh congue potenti diam fringilla netus fringilla odio a cum adipiscing penatibus taciti.Potenti dis nisl magna odio scelerisque parturient purus diam ut a pulvinar sit leo viverra ad aenean id a vestibulum ad.</p>
						<%= image_tag "graph-5.png" %>
						<span class="plansspec">Plan/Spec</span>
					</div>
				</div>
			</div>
			<div class="rsContent">
				<%= image_tag "full-width/lease-1-06.jpg", :class=>"rsImg" %>
				<div data-bottom-top="opacity:0" data-center-top="opacity:1" class="infoBlock center rsABlock">
					<h4>Be Here <span class="underline">Now</span></h4>
					<span class="address">101 Hudson Street</span><br>
					<div class="blurb">
						<h5>Classic art deco with a high-tech infrastructure.</h5>
					</div>
					<div class="blurb_detail">
						<p>A bibendum ac ornare malesuada condimentum nascetur a volutpat curabitur nibh congue potenti diam fringilla netus fringilla odio a cum adipiscing penatibus taciti.Potenti dis nisl magna odio scelerisque parturient purus diam ut a pulvinar sit leo viverra ad aenean id a vestibulum ad.</p>
						<%= image_tag "graph-5.png" %>
						<span class="plansspec">Plan/Spec</span>
					</div>
				</div>
			</div>
			<div class="rsContent">
				<%= image_tag "full-width/lease-1-07.jpg", :class=>"rsImg" %>
				<div data-bottom-top="opacity:0" data-center-top="opacity:1" class="infoBlock center rsABlock">
					<h4>Be Here <span class="underline">Now</span></h4>
					<span class="address">101 Hudson Street</span><br>
					<div class="blurb">
						<h5>Classic art deco with a high-tech infrastructure.</h5>
					</div>
					<div class="blurb_detail">
						<p>A bibendum ac ornare malesuada condimentum nascetur a volutpat curabitur nibh congue potenti diam fringilla netus fringilla odio a cum adipiscing penatibus taciti.Potenti dis nisl magna odio scelerisque parturient purus diam ut a pulvinar sit leo viverra ad aenean id a vestibulum ad.</p>
						<%= image_tag "graph-1.png" %>
						<span class="plansspec">Plan/Spec</span>
					</div>
				</div>
			</div>
			<div class="rsContent">
				<%= image_tag "full-width/lease-1-08.jpg", :class=>"rsImg" %>
				<div data-bottom-top="opacity:0" data-center-top="opacity:1" class="infoBlock center rsABlock">
					<h4>Be Here <span class="underline">Now</span></h4>
					<span class="address">101 Hudson Street</span><br>
					<div class="blurb">
						<h5>Classic art deco with a high-tech infrastructure.</h5>
					</div>
					<div class="blurb_detail">
						<p>A bibendum ac ornare malesuada condimentum nascetur a volutpat curabitur nibh congue potenti diam fringilla netus fringilla odio a cum adipiscing penatibus taciti.Potenti dis nisl magna odio scelerisque parturient purus diam ut a pulvinar sit leo viverra ad aenean id a vestibulum ad.</p>
						<%= image_tag "graph-1.png" %>
						<span class="plansspec">Plan/Spec</span>
					</div>
				</div>
			</div>
			<div class="rsContent">
				<%= image_tag "full-width/lease-1-09.jpg", :class=>"rsImg" %>
				<div data-bottom-top="opacity:0" data-center-top="opacity:1" class="infoBlock center rsABlock">
					<h4>Be Here <span class="underline">Now</span></h4>
					<span class="address">101 Hudson Street</span><br>
					<div class="blurb">
						<h5>Classic art deco with a high-tech infrastructure.</h5>
					</div>
					<div class="blurb_detail">
						<p>A bibendum ac ornare malesuada condimentum nascetur a volutpat curabitur nibh congue potenti diam fringilla netus fringilla odio a cum adipiscing penatibus taciti.Potenti dis nisl magna odio scelerisque parturient purus diam ut a pulvinar sit leo viverra ad aenean id a vestibulum ad.</p>
						<%= image_tag "graph-1.png" %>
						<span class="plansspec">Plan/Spec</span>
					</div>
				</div>
			</div>
			<div class="rsContent">
				<%= image_tag "full-width/lease-1-10.jpg", :class=>"rsImg" %>
				<div data-bottom-top="opacity:0" data-center-top="opacity:1" class="infoBlock center rsABlock">
					<h4>Be Here <span class="underline">Now</span></h4>
					<span class="address">101 Hudson Street</span><br>
					<div class="blurb">
						<h5>Classic art deco with a high-tech infrastructure.</h5>
					</div>
					<div class="blurb_detail">
						<p>A bibendum ac ornare malesuada condimentum nascetur a volutpat curabitur nibh congue potenti diam fringilla netus fringilla odio a cum adipiscing penatibus taciti.Potenti dis nisl magna odio scelerisque parturient purus diam ut a pulvinar sit leo viverra ad aenean id a vestibulum ad.</p>
						<%= image_tag "graph-1.png" %>
						<span class="plansspec">Plan/Spec</span>
					</div>
				</div>
			</div>
		</div>
		<div id="lease-2" class="royalSlider heroSlider rsMinW slider02" data-start="transform:translateY(0%)" data-end="transform:translateY(-200%)">
			<div class="rsContent">
				<%= image_tag "full-width/1920/lease-2-01.jpg", :class=>"rsImg mySelector" %>
				<div data-bottom-top="opacity:0" data-center-top="opacity:1" class="infoBlock center right rsABlock">
					<h4>Be Here <span class="underline">Now</span></h4>
					<br>
					<div class="blurb">
						<h5>Unique retail opportunities<br>are everywhere at harborside.</h5>
					</div>
					<div class="hex-bg bistro">
						<span class="museo">Your Bistro <span class="golong">HERE <span class="underline">NOW</span></span></span>
					</div>
					<div class="hex-bg spa">
						<span class="museo">Your Spa <br><span class="golong">HERE <span class="underline">NOW</span></span></span>
					</div>
					<div class="hex-bg boutique">
						<span class="museo">Your Boutique <span class="golong">HERE <span class="underline">NOW</span></span></span>
					</div>
				</div>
			</div>
			<div class="rsContent">
				<%= image_tag "full-width/1920/lease-2-02.jpg", :class=>"rsImg" %>
				<div data-bottom-top="opacity:0" data-center-top="opacity:1" class="infoBlock center right rsABlock">
					<h4>Be Here <span class="underline">Now</span></h4>
					<br>
					<div class="blurb">
						<h5>Your employees will enjoy grab-and-go dining<br> options in the harborside food court.</h5>
					</div>
				</div>
			</div>
			<div class="rsContent">
				<%= image_tag "full-width/1920/lease-2-03.jpg", :class=>"rsImg " %>
				<div data-bottom-top="opacity:0" data-center-top="opacity:1" class="infoBlock center right rsABlock">
					<h4>Be Here <span class="underline">Now</span></h4>
					<br>
					<div class="blurb">
						<h5>Harborside makes running your errands easier with<br> on-site retail and services.</h5>
					</div>
					<ul class="brands">
						<li class="brand"><a href="#"></a></li>
						<li class="brand"><a href="#"></a></li>
						<li class="brand"><a href="#"></a></li>
						<li class="brand"><a href="#"></a></li>
						<li class="brand"><a href="#"></a></li>
						<li class="brand"><a href="#"></a></li>
						<li class="brand"><a href="#"></a></li>
						<li class="brand"><a href="#"></a></li>
						<li class="brand"><a href="#"></a></li>
						<li class="brand"><a href="#"></a></li>
						<li class="brand"><a href="#"></a></li>
						<li class="brand"><a href="#"></a></li>
						<li class="brand"><a href="#"></a></li>
						<li class="brand"><a href="#"></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="lease-3" class="royalSlider heroSlider rsMinW slider03" data-start="transform:translateY(-30%)" data-end="transform:translateY(-150%)">
			<div class="rsContent">
				<%= image_tag "full-width/lease-3-01.jpg", :class=>"rsImg" %>
			</div>
			<div class="rsContent">
				<%= image_tag "full-width/lease-3-02.jpg", :class=>"rsImg" %>
			</div>
			<div class="rsContent">
				<%= image_tag "full-width/lease-3-03.jpg", :class=>"rsImg mySelector1" %>
			</div>
		</div>
		<div id="lease-4" class="royalSlider heroSlider rsMinW slider04" data-start="transform:translateY(-40%)" data-end="transform:translateY(-200%)">
			<div class="rsContent rsNoDrag">
				<%= image_tag "full-width/lease-4.jpg", :class=>"rsImg mySelector" %>
			</div>
		</div>
		<div id="lease-5" class="royalSlider heroSlider rsMinW slider05" data-start="transform:translateY(-50%)" data-end="transform:translateY(-120%)">
			<div class="rsContent">
				<%= image_tag "full-width/lease-5-01.jpg", :class=>"rsImg" %>
			</div>
			<div class="rsContent">
				<%= image_tag "full-width/lease-5-02.jpg", :class=>"rsImg" %>
			</div>
			<div class="rsContent">
				<%= image_tag "full-width/lease-5-03.jpg", :class=>"rsImg" %>
			</div>
			<div class="rsContent">
				<%= image_tag "full-width/lease-5-04.jpg", :class=>"rsImg mySelector1" %>
			</div>
		</div>
<!-- lease-6 are hexagon pngs
>>>>>>> FETCH_HEAD
<div id="lease-6" class="slider06">
<div class="">
<%= image_tag "full-width/lease-6-hex01.png", :class=>"" %>
<%= image_tag "full-width/lease-6-hex02.png", :class=>"" %>
<%= image_tag "full-width/lease-6-hex03.png", :class=>"" %>
<%= image_tag "full-width/lease-6-hex04.png", :class=>"" %>
</div>
</div>
-->
<<<<<<< HEAD

	<div id="lease-7" class="royalSlider heroSlider rsMinW slider07" data-start="transform:translateY(0%)" data-end="transform:translateY(-160%)">
	  <div class="rsContent rsNoDrag">
	  	<%= image_tag "full-width/lease-7.jpg", :class=>"rsImg mySelector" %>
	    </div>
	</div>

	<div id="lease-8" class="royalSlider heroSlider rsMinW slider08" data-start="transform:translateY(0%)" data-end="transform:translateY(-120%)">
	  <div class="rsContent rsNoDrag">
	  	<%= image_tag "full-width/lease-8.jpg", :class=>"rsImg mySelector1" %>
	    </div>
=======
<div id="lease-7" class="royalSlider heroSlider rsMinW slider07" data-start="transform:translateY(-30%)" data-end="transform:translateY(-50%)">
	<div class="rsContent rsNoDrag">
		<%= image_tag "full-width/lease-7.jpg", :class=>"rsImg mySelector" %>
	</div>
</div>
<div id="lease-8" class="royalSlider heroSlider rsMinW slider08" data-start="transform:translateY(-50%)" data-end="transform:translateY(0%)">
	<div class="rsContent rsNoDrag">
		<%= image_tag "full-width/lease-8.jpg", :class=>"rsImg mySelector1" %>
>>>>>>> FETCH_HEAD
	</div>
</div>
</div> <!-- skrollr -->
<<<<<<< HEAD

	<script type="text/javascript">
	jQuery(document).ready(function($) {
	  jQuery.rsCSS3Easing.easeOutBack = 'cubic-bezier(0.175, 0.885, 0.320, 1.275)';
	  $('.royalSlider').royalSlider({
	    arrowsNav: true,
	    loop: false,
	    keyboardNavEnabled: true,
	    controlsInside: false,
	    imageScaleMode: 'none',
	    arrowsNavAutoHide: false,
	    autoScaleSlider: true, 
	    autoScaleSliderWidth: 1920,     
	    autoScaleSliderHeight: 1400,
	    controlNavigation: 'bullets',
	    thumbsFitInViewport: false,
	    navigateByClick: true,
	    startSlideId: 0,
	    slidesSpacing:0,
	    autoPlay: true,
	    transitionType:'move',
	    globalCaption: false,
	    hasDrag: false,
	    deeplinking: {
	      enabled: true,
	      change: false
	    },
	     block: {
	      delay: 400,
	      fadeEffect: true,
		moveEffect: 'left'
	    },
	    /* size of all images http://help.dimsemenov.com/kb/royalslider-jquery-plugin-faq/adding-width-and-height-properties-to-images */
	    imgWidth: 1920,
	    imgHeight: 1400
	  });
	});
	</script>

<!-- this is what you need to replicate for trapezoidal imageMask in ohter sections -->

    <script type="text/javascript">
        $( document ).ready( function() {
            $( ".mySelector" ).imageMask( "/assets/masks/mask2.png", function( $canvas ) {
                console.log( 'imageMask successfully applied', $canvas );
            } );
        } );
    </script>

     <script type="text/javascript">
        $( document ).ready( function() {
            $( ".mySelector1" ).imageMask( "/assets/masks/mask.png", function( $canvas ) {
                console.log( 'imageMask successfully applied', $canvas );
            } );
        } );
    </script>

   
	<script type="text/javascript">
	skrollr.init({
		smoothScrolling: true,
		edgeStrategy: 'set',
		forceHeight: false,
		easing: {
			vibrate: function(p) {
				return Math.sin(p * 10 * Math.PI);
			}
=======
<script type="text/javascript">
jQuery(document).ready(function($) {
	$('.royalSlider').royalSlider({
		arrowsNav: true,
		loop: true,
		controlNavigation: 'bullets',
		keyboardNavEnabled: true,
		controlsInside: true,
		imageScaleMode: 'fill',
		arrowsNavAutoHide: false,
		autoScaleSlider: false,
		autoScaleSliderWidth: 1920,
		autoScaleSliderHeight: 1400,
		controlNavigation: 'bullets',
		thumbsFitInViewport: false,
		navigateByClick: true,
		startSlideId: 0,
		slidesSpacing:0,
		autoPlay: {
		// autoplay options go gere
		enabled: true,
		pauseOnHover: true,
		delay: 100
	},
		transitionType:'move',
		globalCaption: false,
		hasDrag: false,
		deeplinking: {
			enabled: true,
			change: false
>>>>>>> FETCH_HEAD
		}
		/* size of all images http://help.dimsemenov.com/kb/royalslider-jquery-plugin-faq/adding-width-and-height-properties-to-images */
	});
});
</script>
<!-- this is what you need to replicate for trapezoidal imageMask in ohter sections -->
<script type="text/javascript">
$( document ).ready( function() {
	$( ".mySelector" ).imageMask( "/assets/masks/mask2.png", function( $canvas ) {
		console.log( 'imageMask successfully applied', $canvas );
	} );
	$( ".mySelector1" ).imageMask( "/assets/masks/mask.png", function( $canvas ) {
		console.log( 'imageMask successfully applied', $canvas );
	} );
} );
</script>
<script type="text/javascript">
// skrollr.init({
// 	smoothScrolling: true,
// 	edgeStrategy: 'set',
// 	forceHeight: true,
// 	easing: {
// 		vibrate: function(p) {
// 			return Math.sin(p * 10 * Math.PI);
// 		}
// 	}
// });
</script>
