<body class="lease">
<div id="main" role="main">

	<section id="first" class="story" data-speed="8" data-type="background"> 
		<div id="lease-0" class="royalSlider heroSlider rsMinW slider00">
		  <div class="rsContent rsNoDrag">
		  	<%= image_tag "full-width/lease-0.jpg", :class=>"rsImg" %>
		    </div>
		</div>
	</section>

	<section id="second" class="story" data-speed="4" data-type="background" data-offsetY="0">
		<div id="lease-1" class="royalSlider heroSlider rsMinW slider01">
		  <div class="rsContent">
		  	<%= image_tag "full-width/lease-1-01.jpg", :class=>"rsImg mySelector1" %>
		  </div>
		  <div class="rsContent">
		  	<%= image_tag "full-width/lease-1-02.jpg", :class=>"rsImg mySelector" %>
		  </div>
		  <div class="rsContent">
		  	<%= image_tag "full-width/lease-1-03.jpg", :class=>"rsImg mySelector1" %>
		  </div>
		  <div class="rsContent">
		  	<%= image_tag "full-width/lease-1-04.jpg", :class=>"rsImg mySelector" %>
		  </div>
		  <div class="rsContent">
		  	<%= image_tag "full-width/lease-1-05.jpg", :class=>"rsImg mySelector1" %>
		  </div>
		  <div class="rsContent">
		  	<%= image_tag "full-width/lease-1-06.jpg", :class=>"rsImg mySelector" %>
		  </div>
		  <div class="rsContent">
		  	<%= image_tag "full-width/lease-1-07.jpg", :class=>"rsImg mySelector1" %>
		  </div>
		  <div class="rsContent">
		  	<%= image_tag "full-width/lease-1-08.jpg", :class=>"rsImg mySelector" %>
		  </div>
		  <div class="rsContent">
		  	<%= image_tag "full-width/lease-1-09.jpg", :class=>"rsImg mySelector1" %>
		  </div>
		  <div class="rsContent">
		  	<%= image_tag "full-width/lease-1-10.jpg", :class=>"rsImg mySelector" %>
		  </div>
		</div>
	</section>

	<section id="third" class="story" data-speed="6" data-type="background" data-offsetY="0">   
		<div id="lease-2" class="royalSlider heroSlider rsMinW slider02">
		  <div class="rsContent">
		  	<%= image_tag "full-width/lease-2-01.jpg", :class=>"rsImg mySelector" %>
		    <div class="infoBlock infoBlockLeftBlack rsABlock" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
		      <h4>The Future is Now</h4>
		      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure</p>
		    </div>
		    <div class="rsContent">
		  	<%= image_tag "full-width/lease-2-02.jpg", :class=>"rsImg mySelector1" %>
		  </div>
		  <div class="rsContent">
		  	<%= image_tag "full-width/lease-2-03.jpg", :class=>"rsImg mySelector" %>
		  </div>
		  </div>
		</div>
	</section>

	<section id="fourth" class="story" data-speed="8" data-type="background" data-offsetY="0">
		<div id="lease-3" class="royalSlider heroSlider rsMinW slider03">
		  <div class="rsContent">
		  	<%= image_tag "full-width/lease-3-01.jpg", :class=>"rsImg mySelector1" %>
		  </div>
		  <div class="rsContent">
		  	<%= image_tag "full-width/lease-3-02.jpg", :class=>"rsImg mySelector" %>
		  </div>
		  <div class="rsContent">
		  	<%= image_tag "full-width/lease-3-03.jpg", :class=>"rsImg mySelector1" %>
		  </div>
		</div>
	</section>

	<section id="fifth" class="story" data-speed="10" data-type="background" data-offsetY="2800">
		<div id="lease-4" class="royalSlider heroSlider rsMinW slider04">
		  <div class="rsContent rsNoDrag">
		  	<%= image_tag "full-width/lease-4.jpg", :class=>"rsImg mySelector" %>
		  </div>
		</div>
	</section>		

	<section id="fifth" class="story" data-speed="12" data-type="background" data-offsetY="3500">
		<div id="lease-5" class="royalSlider heroSlider rsMinW slider05">
		  <div class="rsContent">
		  	<%= image_tag "full-width/lease-5-01.jpg", :class=>"rsImg mySelector1" %>
		  </div>
		  <div class="rsContent">
		  	<%= image_tag "full-width/lease-5-02.jpg", :class=>"rsImg mySelector" %>
		  </div>
		  <div class="rsContent">
		  	<%= image_tag "full-width/lease-5-03.jpg", :class=>"rsImg mySelector1" %>
		  </div>
		  <div class="rsContent">
		  	<%= image_tag "full-width/lease-5-04.jpg", :class=>"rsImg mySelector" %>
		  </div>
		</div>
	</section>

	<section id="sixth" class="story" data-speed="14" data-type="background" data-offsetY="4200">
		<div id="lease-6" class="slider06">
		  <div class="">
		  	<%= image_tag "full-width/lease-6-hex01.png", :class=>"" %>
		  	<%= image_tag "full-width/lease-6-hex02.png", :class=>"" %>
		  	<%= image_tag "full-width/lease-6-hex03.png", :class=>"" %>
		  	<%= image_tag "full-width/lease-6-hex04.png", :class=>"" %>
		    </div>
		</div>
	</section>

	<section id="seventh" class="story" data-speed="16" data-type="background" data-offsetY="4900">
		<div id="lease-7" class="royalSlider heroSlider rsMinW slider07">
		  <div class="rsContent rsNoDrag">
		  	<%= image_tag "full-width/lease-7.jpg", :class=>"rsImg mySelector1" %>
		    </div>
		</div>
	</section>

	<section id="eight" class="story" data-speed="18" data-type="background" data-offsetY="5600">
		<div id="lease-8" class="royalSlider heroSlider rsMinW slider08">
		  <div class="rsContent rsNoDrag">
		  	<%= image_tag "full-width/lease-8.jpg", :class=>"rsImg mySelector" %>
		    </div>
		</div>
	</section>
	  
	</div>
</div> <!-- end main -->

	<script type="text/javascript">
	jQuery(document).ready(function($) {
	  $('.royalSlider').royalSlider({
	    arrowsNav: true,
	    loop: false,
	    keyboardNavEnabled: true,
	    controlsInside: false,
	    imageScaleMode: 'fill',
	    arrowsNavAutoHide: false,
	    autoScaleSlider: true, 
	    autoScaleSliderWidth: 1920,     
	    autoScaleSliderHeight: 1400,
	    controlNavigation: 'bullets',
	    thumbsFitInViewport: false,
	    navigateByClick: true,
	    startSlideId: 0,
	    autoPlay: false,
	    transitionType:'move',
	    globalCaption: false,
	    hasDrag: false,
	    deeplinking: {
	      enabled: true,
	      change: false
	    },
	    /* size of all images http://help.dimsemenov.com/kb/royalslider-jquery-plugin-faq/adding-width-and-height-properties-to-images */
	    imgWidth: 1920,
	    imgHeight: 1400
	  });
	});
	</script>

<!-- this is what you need to replicate for trapezoidal imageMask in ohter sections -->

    <script type="text/javascript">
        $( document ).ready( function() {
            $( ".mySelector" ).imageMask( "/assets/masks/mask2.png", function( $canvas ) {
                console.log( 'imageMask successfully applied', $canvas );
            } );
        } );
    </script>

     <script type="text/javascript">
        $( document ).ready( function() {
            $( ".mySelector1" ).imageMask( "/assets/masks/mask.png", function( $canvas ) {
                console.log( 'imageMask successfully applied', $canvas );
            } );
        } );
    </script>
 