<body class="explore">

<div id="explore-0" class="royalSlider heroSlider rsMinW slider00">
		<div class="rsContent rsNoDrag">
	  		<%= image_tag "full-width/explore-0.jpg", :class=>"rsImg" %>
  			<div class="infoBlock rsABlock" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
		      <h1><a class="hex"><%= image_tag "icons/play.png" %></a></h1>
		    </div>
	    </div>
	</div>
		<div id="explore-1" class="royalSlider heroSlider rsMinW slider01" >
		<div class="rsContent" id="Art">
	  		<%= image_tag "full-width/explore-1-01.jpg", :class=>"rsImg mySelector" %>
	  	<div class="artBlock infoBlockLeftBlack rsABlock" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
		      	<h4><i>Expore it Here NOW</i></h4>
		      	<p>Art is everywhere thanks to jersey city’s painters,</br>
				Sculptors and even local taggers.</p>
				<p><a>Get closer to the jersey city mural project</a></p>
		    </div>
	    </div>
	    <div class="rsContent">
	  		<%= image_tag "full-width/explore-1-02.jpg", :class=>"rsImg mySelector1" %>
	  		<a class="music"><div class="artBlock infoBlockLeftBlack rsABlock" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200"></a>
		      	<h4><i>Expore it Here NOW</i></h4>
		      	<p>Mana Fine Arts houses artist studios, gallery spaces and thousands of stored works, all in the heart of Jersey City.</p>
				<p><a>Learn more about Mana</a></p>
		    </div>
	    </div>
	    <div class="rsContent">
	  		<%= image_tag "full-width/explore-1-03.jpg", :class=>"rsImg mySelector" %>
	  		<div class="artBlock infoBlockLeftBlack rsABlock" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
		      	<h4><i>Expore it Here NOW</i></h4>
		      	<p>Jersey City has your artistic side covered with world-class
				work from local and international artists.</p>
				<div class="listingsBlock">
					<p>Mana Fine Arts Studio space, galleries and performing arts<br/>
					<a href="http://www.manafinearts.com" target="_blank">manafinearts.com</a></p>

					<p>Freshly Baked Gallery Urban and new contemporary art<br/>
					<a href="http://www.manafinearts.com" target="_blank">freshlybackedgallery.com</a></p>

					<p>Project Greenville  Community-based art shows and events<br/>
					<a href="http://www.manafinearts.com" target="_blank">projectgreenville.webs.com</a></p>

					<p>Panepinto Gallery Cutting-edge art and screenings<br/>
					<a href="http://www.manafinearts.com" target="_blank">panepintogalleries.com</a></p>
				</div>
		    </div>
	    </div>
	</div>

	<div id="explore-2" class="royalSlider heroSlider rsMinW slider02">
		<div class="rsContent rsNoDrag" id="Music">
	  		<%= image_tag "full-width/explore-2.jpg", :class=>"rsImg mySelector1" %>
	  		<div class="artBlock infoBlockLeftBlack rsABlock" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
		      	<h4><i>Expore it Here NOW</i></h4>
		      	<p>Jersey City is bringing the fun with festivals
				and concerts all year long.</p>
				<div class="listingsBlock festivals">
					<p>FESTIVALS</p>
					<ul>
						<li><a href="http://www.manafinearts.com" target="_blank">Lorem ipsum</a> -  Lorem ipsum dolor sit amet.
						<li><a href="http://www.manafinearts.com" target="_blank">rem ip occaecat sum</a> -  Minim veniam, quis nostr.
						<li><a href="http://www.manafinearts.com" target="_blank">oresum</a> -  Lorem ipsum dolor sit amet.
						<li><a href="http://www.manafinearts.com" target="_blank">Lemp occaecat sum</a> -  veniam, quis nostr.
						<li><a href="http://www.manafinearts.com" target="_blank">Lorem ipsum</a> -  Lorem ipsum dolor sit amet.
					</ul>
					<p>CONCERTS VENUES</p>
					<ul>
						<li><a href="http://www.manafinearts.com" target="_blank">Lorem ipsum</a> -  Lorem ipsum dolor sit amet.
						<li><a href="http://www.manafinearts.com" target="_blank">rem ip occaecat sum</a> -  Minim veniam, quiim veniam, quis.
						<li><a href="http://www.manafinearts.com" target="_blank">oresum</a> -  Lorem ipsum dolor sit amet.
						<li><a href="http://www.manafinearts.com" target="_blank">Lemp occaecat sum</a> -  veniam, quis nostr.
						<li><a href="http://www.manafinearts.com" target="_blank">Lorem ipsum</a> -  Lorem ipsum dolor sit amet.
					</ul>
				</div>
		    </div>
		</div>
	</div>

	<div id="explore-3" class="royalSlider heroSlider rsMinW slider03">
		<div class="rsContent" id="Food">
	  		<%= image_tag "full-width/explore-3-01.jpg", :class=>"rsImg mySelector" %>
	  		<div class="artBlock infoBlockLeftBlack rsABlock" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
		      	<h4><i>Expore it Here NOW</i></h4>
		      	<p>From fine and casual dining to a wide variety of
				ethnic cuisines, Jersey City caters to
				everyone’s palate. 
				</p>
				<div class="listingsBlock festivals">
					<p>RESTAURANTS</p>
					<ul>
						<li><a href="http://www.manafinearts.com" target="_blank">Lorem ipsum</a> -  Lorem ipsum dolor sit amet.
						<li><a href="http://www.manafinearts.com" target="_blank">rem ip occaecat sum</a> -  Minim veniam, quis nostr.
						<li><a href="http://www.manafinearts.com" target="_blank">oresum</a> -  Lorem ipsum dolor sit amet.
						<li><a href="http://www.manafinearts.com" target="_blank">Lemp occaecat sum</a> -  veniam, quis nostr.
						<li><a href="http://www.manafinearts.com" target="_blank">Lorem ipsum</a> -  Lorem ipsum dolor sit amet.
						<li><a href="http://www.manafinearts.com" target="_blank">Lorem ipsum</a> -  Lorem ipsum dolor sit amet.
						<li><a href="http://www.manafinearts.com" target="_blank">rem ip occaecat sum</a> -  Minim veniam, quiim veniam, quis.
						<li><a href="http://www.manafinearts.com" target="_blank">oresum</a> -  Lorem ipsum dolor sit amet.
						<li><a href="http://www.manafinearts.com" target="_blank">Lemp occaecat sum</a> -  veniam, quis nostr.
						<li><a href="http://www.manafinearts.com" target="_blank">Lorem ipsum</a> -  Lorem ipsum dolor sit amet.
					</ul>
				</div>
		    </div>
		</div>
		<div class="rsContent">
			<%= image_tag "full-width/explore-3-02.jpg", :class=>"rsImg mySelector1" %>
			<div class="artBlock infoBlockLeftBlack rsABlock" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
		      	<h4><i>Expore it Here NOW</i></h4>
		      	<p>Get in some "me" time.
				Or, just make a few new friends.</p>
				<div class="listingsBlock festivals">
					<p>CAFES</p>
					<ul>
						<li><a href="http://www.manafinearts.com" target="_blank">Lorem ipsum</a> -  Lorem ipsum dolor sit amet.
						<li><a href="http://www.manafinearts.com" target="_blank">rem ip occaecat sum</a> -  Minim veniam, quis nostr.
						<li><a href="http://www.manafinearts.com" target="_blank">oresum</a> -  Lorem ipsum dolor sit amet.
						<li><a href="http://www.manafinearts.com" target="_blank">Lemp occaecat sum</a> -  veniam, quis nostr.
						<li><a href="http://www.manafinearts.com" target="_blank">Lorem ipsum</a> -  Lorem ipsum dolor sit amet.
					</ul>
					<p>PUBS</p>
					<ul>
						<li><a href="http://www.manafinearts.com" target="_blank">Lorem ipsum</a> -  Lorem ipsum dolor sit amet.
						<li><a href="http://www.manafinearts.com" target="_blank">rem ip occaecat sum</a> -  Minim veniam, quiim veniam, quis.
						<li><a href="http://www.manafinearts.com" target="_blank">oresum</a> -  Lorem ipsum dolor sit amet.
						<li><a href="http://www.manafinearts.com" target="_blank">Lemp occaecat sum</a> -  veniam, quis nostr.
						<li><a href="http://www.manafinearts.com" target="_blank">Lorem ipsum</a> -  Lorem ipsum dolor sit amet.
					</ul>
				</div>
		    </div>
		</div>
	</div>
	<div id="explore-4" class="slider04 royalSliderTall rsMinW">
		<div class="rsContent rsNoDrag" id="People">
			<%= image_tag "full-width/explore-4.jpg", :class=>"rsImg mySelector1" %>
				  	<div class="infoBlockLeftBlack rsABlock artBlock peopleBlock" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
					      	<h4><i>Expore it Here NOW</i></h4>
					      	<p>Meet the people who form the creative soul of our
					      		community. Hear why they call Jersey City home.</p>

					      		
					  	
							<div class="videoBlock">
								<iframe src="//player.vimeo.com/video/72689723" width="898" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
								<div class="videoBio">
									<p>Name Lastname</p>
									<p>Occuption:</p>
									<p>How long have you lived in JC: 2 Y</p>
									<p>Favorite Place: Lorem ipsum</p>
								</div>
							</div>
							

					<div class="smallVideos">
						<div class="videoCol">
							<div class="videoBlockSmall">
								<iframe src="//player.vimeo.com/video/72689723" width="423" height="230" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
								<div class="videoBio">
									<p>Name Lastname</p>
									<p>Occuption:</p>
									<p>How long have you lived in JC: 2 Y</p>
									<p>Favorite Place: Lorem ipsum</p>
								</div>
							</div>
							<div class="videoBlockSmall">
								<iframe src="//player.vimeo.com/video/72689723" width="423" height="230" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
								<div class="videoBio">
									<p>Name Lastname</p>
									<p>Occuption:</p>
									<p>How long have you lived in JC: 2 Y</p>
									<p>Favorite Place: Lorem ipsum</p>
								</div>
							</div>
						</div>
						

					
						<div class="videoCol">
							<div class="videoBlockSmall">
								<iframe src="//player.vimeo.com/video/72689723" width="423" height="230" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
								<div class="videoBio">
									<p>Name Lastname</p>
									<p>Occuption:</p>
									<p>How long have you lived in JC: 2 Y</p>
									<p>Favorite Place: Lorem ipsum</p>
								</div>
							</div>
							<div class="videoBlockSmall">
								<iframe src="//player.vimeo.com/video/72689723" width="423" height="230" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
								<div class="videoBio">
									<p>Name Lastname</p>
									<p>Occuption:</p>
									<p>How long have you lived in JC: 2 Y</p>
									<p>Favorite Place: Lorem ipsum</p>
								</div>
							</div>

						</div>
						</div>
					</div>
		    		</div>
		    		
		</div>
	</div>
	<div id="explore-5" class="royalSlider heroSlider rsMinW slider05">
		<div class="rsContent rsNoDrag" id="Press">
			<div class= "artBlock infoBlockLeftBlack rsABlock">
				<h4><i>READ IT HERE NOW</i></h4>
					<p>Everybody's talking about Jersey City.</p>
				<div class="articleDiv">
					<div class= "articleBlock col-md-3">
						<p>Lorem Ipsum</p>
					</div>
					<div class= "articleBlock col-md-3">
						<p>Lorem Ipsum</p>
					</div>
					<div class= "articleBlock col-md-3">
						<p>Lorem Ipsum</p>
					</div>
				</div>
			</div>
	  		<%= image_tag "full-width/explore-5.jpg", :class=>"rsImg mySelector" %>
		</div>
	</div>

	<script type="text/javascript">
	jQuery(document).ready(function($) {
	  $('.royalSlider').royalSlider({
	    arrowsNav: true,
	    loop: false,
	    keyboardNavEnabled: true,
	    controlsInside: false,
	    imageScaleMode: 'fill',
	    arrowsNavAutoHide: false,
	    autoScaleSlider: true, 
	    autoScaleSliderWidth: 1920,     
	    autoScaleSliderHeight: 1400,
		slidesSpacing: 0,
	    controlNavigation: 'bullets',
	    thumbsFitInViewport: false,
	    navigateByClick: true,
	    startSlideId: 0,
	    autoPlay: false,
	    transitionType:'move',
	    globalCaption: false,
	    hasDrag: false,
	    deeplinking: {
	      enabled: true,
	      change: false
	    },
	    /* size of all images http://help.dimsemenov.com/kb/royalslider-jquery-plugin-faq/adding-width-and-height-properties-to-images */
	    imgWidth: 1920,
	    imgHeight: 1400
	  });
	});
	</script>

	<script type="text/javascript">
	jQuery(document).ready(function($) {
	  $('.royalSliderTall').royalSlider({
	    imageScaleMode: 'fill',
	    arrowsNavAutoHide: false,
	    autoScaleSlider: true, 
	    autoScaleSliderWidth: 1920,     
	    autoScaleSliderHeight: 2210,
		slidesSpacing: 0,
	    controlNavigation: 'bullets',
	    thumbsFitInViewport: false,
	    navigateByClick: true,
	    startSlideId: 0,
	    autoPlay: false,
	    transitionType:'move',
	    globalCaption: false,
	    hasDrag: false,
	    deeplinking: {
	      enabled: true,
	      change: false
	    },
	    /* size of all images http://help.dimsemenov.com/kb/royalslider-jquery-plugin-faq/adding-width-and-height-properties-to-images */
	    imgWidth: 1920,
	    imgHeight: 2210
	  });
	});
	</script>

<!-- this is what you need to replicate for trapezoidal imageMask in ohter sections -->

    <script type="text/javascript">
        $( document ).ready( function() {
            $( ".mySelector" ).imageMask( "/assets/masks/mask01.png", function( $canvas ) {
                console.log( 'imageMask successfully applied', $canvas );
            } );
        } );
    </script>

     <script type="text/javascript">
        $( document ).ready( function() {
            $( ".mySelector1" ).imageMask( "/assets/masks/mask02.png", function( $canvas ) {
                console.log( 'imageMask successfully applied', $canvas );
            } );
        } );
    </script>
 

</body>