<body class="explore">

<div id="explore-0" class="royalSlider heroSlider rsMinW slider00">
		<div class="rsContent rsNoDrag">
			<%= video_tag "Harborside_082814.mp4", :id => "example_video_1", :class => 'video-js vjs-default-skin', :controls=>'true',:preload=>'auto','data-setup'=>'{"example_option":false}' %>
	    </div>
	</div>
	<div id="explore-1" class="royalSlider heroSlider rsMinW slider01">
		<div class="rsContent" id="Art">
	  		<%= image_tag "full-width/explore-1-01.jpg", :class=>"rsImg", 'data-bottom-top'=>'transform:translate3d(0,-50vh,0)','data-top-bottom'=>'transform:translate3d(0,50vh,0)' %>
	  		<div class="artBlock infoBlockLeftBlack rsABlock" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
		      	<h4><i>Expore it Here NOW</i></h4>
		      	<p>Art is everywhere thanks to jersey city’s painters,</br>
				Sculptors and even local taggers.</p>
				<p><a>Get closer to the jersey city mural project</a></p>
		    </div>
	    </div>
	    <div class="rsContent">
	  		<%= image_tag "full-width/explore-1-02.jpg", :class=>"rsImg", 'data-bottom-top'=>'transform:translate3d(0,-50vh,0)','data-top-bottom'=>'transform:translate3d(0,50vh,0)' %>
	  		<div class="artBlock infoBlockLeftBlack rsABlock" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
		      	<h4><i>Expore it Here NOW</i></h4>
		      	<p>Mana Fine Arts houses artist studios, gallery spaces and thousands of stored works, all in the heart of Jersey City.</p>
				<p><a>Learn more about Mana</a></p>
		    </div>
	    </div>
	    <div class="rsContent">
	  		<%= image_tag "full-width/explore-1-03.jpg", :class=>"rsImg", 'data-bottom-top'=>'transform:translate3d(0,-50vh,0)','data-top-bottom'=>'transform:translate3d(0,50vh,0)' %>
	  		<div class="artBlock infoBlockLeftBlack rsABlock" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
		      	<h4><i>Expore it Here NOW</i></h4>
		      	<p>Jersey City has your artistic side covered with world-class
				work from local and international artists.</p>
				<div class="listingsBlock">
					<p>Mana Fine Arts Studio space, galleries and performing arts<br/>
					<a href="http://www.manafinearts.com" target="_blank">manafinearts.com</a></p>

					<p>Freshly Baked Gallery Urban and new contemporary art<br/>
					<a href="http://www.manafinearts.com" target="_blank">freshlybackedgallery.com</a></p>

					<p>Project Greenville  Community-based art shows and events<br/>
					<a href="http://www.manafinearts.com" target="_blank">projectgreenville.webs.com</a></p>

					<p>Panepinto Gallery Cutting-edge art and screenings<br/>
					<a href="http://www.manafinearts.com" target="_blank">panepintogalleries.com</a></p>
				</div>
		    </div>
	    </div>
	</div>

	<div id="explore-2" class="royalSlider heroSlider rsMinW slider02 slant-right-container">
		<div class="rsContent rsNoDrag">
	  		<%= image_tag "full-width/explore-2.jpg", :class=>"rsImg slant-right-img" %>
	  		<div class="artBlock infoBlockLeftBlack rsABlock" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
		      	<h4><i>Expore it Here NOW</i></h4>
		      	<p>Jersey City is bringing the fun with festivals
				and concerts all year long.</p>
				<div class="listingsBlock festivals">
					<p>FESTIVALS</p>
					<ul>
						<li><a href="http://www.manafinearts.com" target="_blank">Lorem ipsum</a> -  Lorem ipsum dolor sit amet.
						<li><a href="http://www.manafinearts.com" target="_blank">rem ip occaecat sum</a> -  Minim veniam, quis nostr.
						<li><a href="http://www.manafinearts.com" target="_blank">oresum</a> -  Lorem ipsum dolor sit amet.
						<li><a href="http://www.manafinearts.com" target="_blank">Lemp occaecat sum</a> -  veniam, quis nostr.
						<li><a href="http://www.manafinearts.com" target="_blank">Lorem ipsum</a> -  Lorem ipsum dolor sit amet.
					</ul>
					<p>CONCERTS VENUES</p>
					<ul>
						<li><a href="http://www.manafinearts.com" target="_blank">Lorem ipsum</a> -  Lorem ipsum dolor sit amet.
						<li><a href="http://www.manafinearts.com" target="_blank">rem ip occaecat sum</a> -  Minim veniam, quiim veniam, quis.
						<li><a href="http://www.manafinearts.com" target="_blank">oresum</a> -  Lorem ipsum dolor sit amet.
						<li><a href="http://www.manafinearts.com" target="_blank">Lemp occaecat sum</a> -  veniam, quis nostr.
						<li><a href="http://www.manafinearts.com" target="_blank">Lorem ipsum</a> -  Lorem ipsum dolor sit amet.
					</ul>
				</div>
		    </div>
		</div>
	</div>

	<div id="explore-3" class="royalSlider heroSlider rsMinW slider03">
		<div class="rsContent">
	  		<%= image_tag "full-width/explore-3-01.jpg", :class=>"rsImg", 'data-bottom-top'=>'transform:translate3d(0,-50vh,0)','data-top-bottom'=>'transform:translate3d(0,50vh,0)' %>
	  		<div class="artBlock infoBlockLeftBlack rsABlock" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
		      	<h4><i>Expore it Here NOW</i></h4>
		      	<p>From fine and casual dining to a wide variety of
				ethnic cuisines, Jersey City caters to
				everyone’s palate.
				</p>
				<div class="listingsBlock festivals">
					<p>RESTAURANTS</p>
					<ul>
						<li><a href="http://www.manafinearts.com" target="_blank">Lorem ipsum</a> -  Lorem ipsum dolor sit amet.
						<li><a href="http://www.manafinearts.com" target="_blank">rem ip occaecat sum</a> -  Minim veniam, quis nostr.
						<li><a href="http://www.manafinearts.com" target="_blank">oresum</a> -  Lorem ipsum dolor sit amet.
						<li><a href="http://www.manafinearts.com" target="_blank">Lemp occaecat sum</a> -  veniam, quis nostr.
						<li><a href="http://www.manafinearts.com" target="_blank">Lorem ipsum</a> -  Lorem ipsum dolor sit amet.
						<li><a href="http://www.manafinearts.com" target="_blank">Lorem ipsum</a> -  Lorem ipsum dolor sit amet.
						<li><a href="http://www.manafinearts.com" target="_blank">rem ip occaecat sum</a> -  Minim veniam, quiim veniam, quis.
						<li><a href="http://www.manafinearts.com" target="_blank">oresum</a> -  Lorem ipsum dolor sit amet.
						<li><a href="http://www.manafinearts.com" target="_blank">Lemp occaecat sum</a> -  veniam, quis nostr.
						<li><a href="http://www.manafinearts.com" target="_blank">Lorem ipsum</a> -  Lorem ipsum dolor sit amet.
					</ul>
				</div>
		    </div>
		</div>
		<div class="rsContent">
			<%= image_tag "full-width/explore-3-02.jpg", :class=>"rsImg" %>
			<div class="artBlock infoBlockLeftBlack rsABlock" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
		      	<h4><i>Expore it Here NOW</i></h4>
		      	<p>Get in some "me" time.
				Or, just make a few new friends.</p>
				<div class="listingsBlock festivals">
					<p>CAFES</p>
					<ul>
						<li><a href="http://www.manafinearts.com" target="_blank">Lorem ipsum</a> -  Lorem ipsum dolor sit amet.
						<li><a href="http://www.manafinearts.com" target="_blank">rem ip occaecat sum</a> -  Minim veniam, quis nostr.
						<li><a href="http://www.manafinearts.com" target="_blank">oresum</a> -  Lorem ipsum dolor sit amet.
						<li><a href="http://www.manafinearts.com" target="_blank">Lemp occaecat sum</a> -  veniam, quis nostr.
						<li><a href="http://www.manafinearts.com" target="_blank">Lorem ipsum</a> -  Lorem ipsum dolor sit amet.
					</ul>
					<p>PUBS</p>
					<ul>
						<li><a href="http://www.manafinearts.com" target="_blank">Lorem ipsum</a> -  Lorem ipsum dolor sit amet.
						<li><a href="http://www.manafinearts.com" target="_blank">rem ip occaecat sum</a> -  Minim veniam, quiim veniam, quis.
						<li><a href="http://www.manafinearts.com" target="_blank">oresum</a> -  Lorem ipsum dolor sit amet.
						<li><a href="http://www.manafinearts.com" target="_blank">Lemp occaecat sum</a> -  veniam, quis nostr.
						<li><a href="http://www.manafinearts.com" target="_blank">Lorem ipsum</a> -  Lorem ipsum dolor sit amet.
					</ul>
				</div>
		    </div>
		</div>
	</div>
	<div id="explore-4" class="royalSlider heroSlider rsMinW slider04 slant-right-container">
		<div class="rsContent rsNoDrag">
	  		<%= image_tag "full-width/explore-4.jpg", :class=>"rsImg slant-right-img" %>
		</div>
	</div>
	<div id="explore-5" class="royalSlider heroSlider rsMinW slider05">
		<div class="rsContent rsNoDrag">
	  		<%= image_tag "full-width/explore-5.jpg", :class=>"rsImg", 'data-bottom-top'=>'transform:translate3d(0,-50vh,0)','data-top-bottom'=>'transform:translate3d(0,50vh,0)' %>
		</div>
	</div>

<!-- this is what you need to replicate for trapezoidal imageMask in ohter sections -->

    <script type="text/javascript">
	$(document).ready(function() {
		$('.royalSlider').royalSlider({
		    arrowsNav: true,
		    loop: false,
		    keyboardNavEnabled: true,
		    controlsInside: false,
		    imageScaleMode: 'fill',
		    arrowsNavAutoHide: false,
		    autoScaleSlider: true,
		    autoScaleSliderWidth: 1920,
		    autoScaleSliderHeight: 1400,
			slidesSpacing: 0,
		    controlNavigation: 'bullets',
		    thumbsFitInViewport: false,
		    navigateByClick: true,
		    startSlideId: 0,
		    autoPlay: false,
		    transitionType:'move',
		    globalCaption: false,
		    hasDrag: false,
		    deeplinking: {
		      enabled: true,
		      change: false
		    },
		    /* size of all images http://help.dimsemenov.com/kb/royalslider-jquery-plugin-faq/adding-width-and-height-properties-to-images */
		    imgWidth: 1920,
		    imgHeight: 1400
		  });

		//Slant Right
	    $(".slant-right-img").imageMask("/assets/masks/mask01.png", function($canvas) {
	        console.log('imageMask successfully applied', $canvas);
	        $('.slant-right-container .rsOverflow').css('margin-top', '-80px').parent().next().css('margin-top', '-80px');
	    });

	    //Slant Left
	    $(".slant-left-img").imageMask("/assets/masks/mask02.png", function($canvas) {
	        $('.slant-left-container .rsOverflow').css('margin-top', '-80px').parent().next().css('margin-top', '-80px');
	    });

	    //Prep Video
	    _V_("example_video_1").ready(function() {

	        var myPlayer = this; // Store the video object
	        var aspectRatio = 16 / 9; // Make up an aspect ratio

	        function resizeVideoJS() {
	            // Get the parent element's actual width
	            var height = document.getElementById(myPlayer.id()).parentElement.offsetHeight;

	            // Set width to fill parent element, Set height
	            myPlayer.height(height).width(height * aspectRatio);
	            $('#example_video_1').css('margin-left',((height * aspectRatio) - window.innerWidth)/-2+'px');
	        }

	        resizeVideoJS(); // Initialize the function
	        window.onresize = resizeVideoJS; // Call the function on resize
	    });

	    //Skrollr
	    setTimeout(function(){
	        //s.refresh();
	        s = skrollr.init({
	        	constants: {
	        		vh : '100p'
	        	},
	            smoothScrolling: true,
	            edgeStrategy: 'set',
	            forceHeight: false,
	            easing: {
	                vibrate: function(p) {
	                    return Math.sin(p * 10 * Math.PI);
	                }
	            }
	        });
	    },100)

	});
	</script>


</body>